<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv= "Content-Type" content ="text/html; charset=UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Edit Survey</title>
</head>
<body>

	<h2>Edit Survey</h2>
	

	
<form th:object="${survey}" th:action="@{../saveNewSurvey}" method="post">
<input type="hidden" th:field="*{surveyId}" class="form-control"/>
<label for="name">Name</label> <br>
<input type="text" th:field="*{name}" class="form-control"/> <br><br>
<label for="amount">Amount</label> <br>
<input type="text" th:field="*{amount}" /> <br><br>
<label for="status">Status</label> <br>
<input type="text" th:field="*{status}" /> <br><br>
<div th:each="q, iStat:*{questions}">
<label for="questions" th:text="Question +' '+ ${iStat.index+1}">Question</label> <br>
<input type="hidden" th:field="*{questions[__${iStat.index}__].questionId}" class="form-control"/> <br><br>
<input type="text" th:field="*{questions[__${iStat.index}__].quetext}" class="form-control"/> <br><br>
<input type="hidden" th:field="*{questions[__${iStat.index}__].survey}" class="form-control"/> <br><br>	
<input type="hidden" th:field="*{questions[__${iStat.index}__].questiontype.typeId}" class="form-control"/> <br><br>
</div> 
<input type="submit" class="btn btn-primary" value="save"></input>
</form>



<form th:object="${question}" th:action="@{../save}" action="#" method="post">
 <div class="form-group">
 <label for="question">Lisää kysymys</label>
	<input type="text" class="form-control" id="question" th:field="*{quetext}"/>
	<input type="hidden" class="form-control" th:name="survey" th:value="${survey.surveyId}"/>
	 </div>
	
	<button type="submit" class="btn btn-primary" value="save">Add question</button>
</form>



</body>
</html>