<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Question</h1>

<form th:object="${question}" th:action="@{save}" action="#" method="post">
	<label for="question">Lisää kysymys</label>
	<input type="text" id="question" th:field="*{quetext}"/>
	<div style="clear: both; display: block; height: 10px;"></div>
	<input type="submit" value="Save"></input>
</form>


	<table class="table table-striped">
			<tbody>
				<tr>
					<th>ID</th>
					<th>TYPE</th>
					<th>QUETEXT</th>
					<th>ANSWER</th>
					<th>STATUS</th>

				</tr>
				<tr th:each="q : ${questions}">
					<td th:text="${q.id}"></td>
					<td th:text="${q.type}"></td>
					<td th:text="${q.quetext}"></td>
					<td th:text="${q.answer}"></td>
					<td th:text="${q.status}"></td>
			
				</tr>
			</tbody>
		</table>

</body>
</html>