<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rest Info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
 
	<h1>Rest End Points</h1>
	<br>
	<br>
	<h2>Survey</h2>
	<br>
	<a>Get all surveys: /surveys || example: "https://survey-task.herokuapp.com/surveys" || Type: GET</a>
	<br>
	<br>
	<a>Get a survey by ID: /surveys/id || example: "https://survey-task.herokuapp.com/surveys/1" || Type: GET</a>
	<br>
	<br>
	<a>Save new survey: /surveys || example: "https://survey-task.herokuapp.com/surveys/" || Type: POST</a>
	<br>
	<br>
	<br>
	
	<h2>Question</h2>
	<br>
	<a>Get all questions: /questions || example: "https://survey-task.herokuapp.com/questions" || Type: GET</a>
	<br>
	<br>
	<br>
	
	<h2>Answer</h2>
	<br>
	<a>Get all answers to all questions: /answers || example: "https://survey-task.herokuapp.com/answers" || Type: GET</a>
	<br>
	<br>
	<a>Save new answer: /answers || example: "https://survey-task.herokuapp.com/answers" || Type: POST</a>
	<br>
	<br>
	<br>
	
</body>
</html>