<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rest Info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
 
	<h1>Rest End Points</h1>
	<br>
	<br>
	<h2>Survey</h2>
	<br>
	<a>Get all surveys: </a> <a th:href="@{/surveys}">/surveys</a> <a>  || example: "</a><a th:href="@{https://survey-task.herokuapp.com/surveys}">https://survey-task.herokuapp.com/surveys</a><a>" || Type: GET</a>
	<br>
	<br>
	<a>Get a survey by ID: </a> <a th:href="@{/surveys/(id=1)}">/surveys/id</a> <a> || example: "</a><a th:href="@{https://survey-task.herokuapp.com/surveys/1}">https://survey-task.herokuapp.com/surveys/1</a><a>" || Type: GET</a>
	<br>
	<br>
	<a>Save new survey: </a><a> /surveys </a><a>|| example: "</a><a th:href="@{https://survey-task.herokuapp.com/surveys/}">https://survey-task.herokuapp.com/surveys/</a><a>" || Type: POST</a>
	<br>
	<br>
	<br>
	
	<h2>Question</h2>
	<br>
	<a>Get all questions: </a> <a th:href="@{/questions}">/questions</a> <a> || example: "</a><a th:href="@{https://survey-task.herokuapp.com/questions}">https://survey-task.herokuapp.com/questions</a><a>" || Type: GET</a>
	<br>
	<br>
	<br>
	
	<h2>Answer</h2>
	<br>
	<a>Get all answers to all questions: </a> <a th:href="@{/answers}">/answers</a> <a> || example: "</a><a th:href="@{https://survey-task.herokuapp.com/answers}">https://survey-task.herokuapp.com/answers</a><a>" || Type: GET</a>
	<br>
	<br>
	<a>Save new answer: /answers || example: "</a><a th:href="@{https://survey-task.herokuapp.com/answers}">https://survey-task.herokuapp.com/answers</a><a>" || Type: POST</a>
	<br>
	<br>
	<br>
	
</body>
</html>