<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 
	<h1>Create Survey</h1>

	<form th:object="${survey}" th:action="@{saveNewSurvey}" action="#"
		method="post">
		<div class="form-group mx-sm-3 mb-2">
		<label for="survey">Add a Name for Your Survey</label> 
		<input type="text" class="form-control" id="survey"
			th:field="*{name}" />
			</div>
		<button type="submit" class="btn btn-primary" value="Save">Save</button>
	</form> <br>

	<h2> Add Questions to Survey</h2>
	<form th:object="${question}" th:action="@{saveQuestionToSurvey}" action="#" method="post">
	<div class="form-group mx-sm-3 mb-2">
	<label for="surveys">Decide Survey</label> <select id="surveys"
			th:field="*{survey}" class="form-control">
			<option th:each="s: ${surveys}" th:value="${s.id}"
				th:text="${s.name}"></option>
		</select>
		</div>
		<div class="form-group mx-sm-3 mb-2">
	<label for="question">Add Question type</label> 
		<input type="text" id="question" class="form-control" th:field="*{type}" />
		</div>
		<div class="form-group mx-sm-3 mb-2">
		<label for="question">Add Question text </label> 
		<input type="text" id="question" class="form-control"  th:field="*{quetext}" />
		</div>
		<div class="form-group mx-sm-3 mb-2">
		<label for="question">Add Question status</label> 
		<input type="text" id="question" class="form-control" th:field="*{status}" />
		</div>
		<div class="form-group mx-sm-3 mb-2">
		<label for="question">Add Question required (true/false)</label> 
		<input type="text" id="question" class="form-control" th:field="*{required}" />
		</div>
		
		<button type="submit"  class="btn btn-primary" value="Save">Save</button>
	</form>
	
	<h3>List of all Surveys</h3>
	<table class="table table-striped">
			<tbody>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>AMOUNT</th>
					<th>STATUS</th>
					<th>KYSYMYKSET</th>
				</tr>
				<tr th:each="s : ${surveys}">
					<td th:text="${s.id}"></td>
					<td th:text="${s.name}"></td>
					<td th:text="${s.amount}"></td>
					<td th:text="${s.status}"></td>
					<td th:text="${s.getQuestions()}"></td>
			
				</tr>
			</tbody>
		</table>
		

</body>
</html>