<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 <br>
	<button class="btn btn-primary"><a style="color:white;"  href = "/newsurvey">Luo uusi kysely</a></button>


	<h3>Kaikki kyselyt</h3>
	<table class="table table-striped">
			<tbody>
				<tr>
					<th>ID</th>
					<th>Nimi</th>
					<th>Kysymykset</th>
					<th> </th>
				</tr>
				<tr th:each="s : ${surveys}">
					<td th:text="${s.surveyId}"></td>
					<td th:text="${s.name}"></td>
					<td th:text="${s.getQuestions()}"></td>
					<td><a th:href= "@{/edit/{id}(id=${s.surveyId})}">Muokkaa</a> </td>
			
				</tr>
			</tbody>
		</table>
		

</body>
</html>